<!-- CARGAMOS COMO EXTEND LA PLANTILLA BASE -->
{% extends "public/index.html" %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE TITULO -->
{% block title %}Work with Us{% endblock %}
<!-- CARGAMOS CONTENIDO EN EL BLOQUE DE CONTENIDOS -->
{% block content %}
    <div class="col-md-8 offset-md-2 pt-2 text-center" >
        <div class="pt-3 pb-3 m-2 bg-dark box-shadow mx-auto round-edge">
            <H3 CLASS="text-light">TABLE POSITIONS PRODUCT OFFICE <BR></BR>
                FILL FORM SUBMIT</H3>
            
        </div>
    </div>
    
{% endblock %}