{% extends "public/index.html" %}

{% block title %}
    Index | Admin
{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2 pt-2 text-center" >
    <div class="pt-3 pb-3 m-2 bg-dark box-shadow mx-auto round-edge">
        <h2 class="text-info mt-2">Admin Panel</h2>
        <br>
        <div class="col-md-4 offset-md-4 pl-5 text-left">
            <ul>
                <li>
                    <a class="text-muted" href="{{ url_for('admin.list_posts') }}">
                        <p class="text-light">Posts</p> 
                    </a>
                </li>
                    
                <li>
                    <a class="text-muted" href="{{ url_for('admin.list_users') }}"> 
                        <p class="text-light">Users</p>
                    </a>
                </li>
            </ul>
        </div>
        <br><br>
    </div>
</div>
<br><br><br><br>     
{% endblock %}